<div class="jumbotron text-center">
  <h1>Make New Character</h1>
</div>

<%= render 'form', character_type: @character_type %>
<br>
<div class="navigation-links">
<%= link_to 'Back', character_types_path, :class => "btn btn-success" %>
</div>
