@import "bootstrap/scss/bootstrap";

.style_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.characters {
  margin-left: auto;
  margin-right: auto;
}

.links-characters-index {
  text-align: center;
}

.update-character {
  text-align: center;
}

#attributes {
  text-align: center;
}

#character_attributes {
  text-align: center;
}

#new-attribute {
  text-align: center;
}

.navigation-links {
  text-align: center;
  padding-bottom: 50px;
}

.show-character {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

}

.log-in-sign-up-edit {
  text-align: center;
  padding-top: 30px;
}

.style_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

#error_explanation {
  color: red;
}

#topnav {
  margin-top: 40px;
  li {
    display: inline;
    padding:  5px 7px;
  }
}
